.piano {
   &__inner {
    padding: 100px 0px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;

    @include mobile {
        padding: 100px 15px;
    }
   } 

   &__introduce {
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;

    @include mobile {
        flex-direction: column;
        gap: 100px;
    }

    &__text {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        :nth-child(2) {
            color: #7c7cff;
        }

        p {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.4;
            word-break: keep-all;

            @include mobile {
                font-size: 24px;
            }
        }
    }

    &__img {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include mobile {
            width: 100%;
        }
    }

    &__icon {
        max-width: 100%;
        width: 80%;
        height: auto;

        @include mobile {
            width: 50%;
        }
    }
   }

   &__reason {
    margin-top: 150px;
    display: flex;
    max-width: 100%;
    width: 100%;
    align-items: center;
    gap: 20px;

    @include mobile {
        flex-direction: column;
        gap: 100px;
    }

    &__textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 1.4;

        @include mobile {
            font-size: 24px;
        }
    }

    &__subTitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.3;
        color: #8c8cff;

        @include mobile {
            font-size: 16px;
        }
    }

    &__descContainer {
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;

        @include mobile {
            margin-top: 150px;
            gap: 100px;
        }

        :nth-child(1)h3 {
            color: rgb(255, 195, 84);
        }
        :nth-child(2)h3 {
            color: #25e725;
        }
        :nth-child(3)h3 {
            color: #7c7cff;
        }

        h3 {
            display: block;
        }

        &__title {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4;

            @include mobile {
                font-size: 24px;
            }
        }

        &__icon {
            width: 40px;
            height: 40px;

            @include mobile {
                width: 30px;
                height: 30px;
            }
        }

        &__subTitle {
            font-size: 16px;
            font-weight: 200;
            line-height: 1.3;

            @include mobile {
                font-size: 14px;
            }
        }
    }
   }
}