.identity {
  &__inner {
    padding: 100px 0px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;

    @include mobile {
      padding: 100px 15px;
    }
  }

  &__textContainer {
    margin-bottom: 40px;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.4;

    @include mobile {
      font-size: 24px;
    }
  }

  &__desc {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.3;
    text-align: center;

    @include mobile {
      font-size: 16px;
      word-break: keep-all;
    }
  }

  &__line {
    width: 40px;
    height: 2px;
    border: none;
    outline: none;
    background: black;
  }
}
