.job {
  &__inner {
    padding: 100px 0px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;

    @include mobile {
      padding: 100px 15px;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 50px;

    &__text {
      white-space: pre-line;
      font-size: 18px;
      font-weight: 200;
      line-height: 1.3;

      @include mobile {
        font-size: 16px;
        font-weight: 200;
        word-break: keep-all;
      }
    }
  }

  &__notice {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      gap: 100px;
    }
  }

  &__titleContainer {
    display: flex;
    align-items: center;
    gap: 15px;

    @include mobile {
      gap: 5px;
    }

    &__logo {
      width: 50px;
      height: 50px;

      @include mobile {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      font-size: 50px;
      font-weight: bold;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
      }
    }
  }

  &__info {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    &__img {
      width: 100%;
      height: 100%;

      @include mobile {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__formContainer {
    @include mobile {
      width: 100%;
    }
  }

  &__apply {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;

    &__title {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 30px;

      @include mobile {
        font-size: 24px;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    &__btn {
      width: 150px;
      height: 50px;
      border-radius: 20px;
      border: none;
      outline: none;
      background: rgb(171, 171, 255);
      color: white;
    }
  }
}
