.gallery {
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 15px;
    min-height: 100vh;
  }

  &__textBox {
    &__title {
      font-size: 50px;
      font-weight: 700;
      line-height: 1.4;

      @include mobile {
        font-size: 40px;
      }
    }

    &__desc {
      font-size: 28px;
      font-weight: 300;
      line-height: 1.4;

      @include mobile {
        word-break: keep-all;
      }
    }
  }

  &__albums {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-sizing: border-box;
    grid-gap: 20px;

    @include mobile {
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
    }
  }

  &__menuBtns {
    margin-top: 50px;
    border-radius: 15px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    max-width: 700px;
    width: 90%;
    padding: 15px;
    display: flex;

    @include mobile {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &__btn {
      outline: none;
      border: none;
      cursor: pointer;
      flex: 1 1 auto;
      text-align: center;
      background-color: inherit;
      font-weight: 200;
      transition: all 0.2s ease-in;

      &:active {
        font-weight: 600;
      }

      span {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: none;
        color: rgba(51, 65, 85, 1);
        transition: font-weight 0.15s ease-in-out;

        @include mobile {
          &:hover {
            border-bottom: 1px solid;
          }
        }

        &::after {
          content: '|';
          height: 100%;
          position: relative;
          right: -10px;
          display: block;
          text-align: center;

          @include mobile {
            content: '';
          }
        }
      }
    }

    &__btn:last-child span::after {
      content: '';
    }
  }

  &__noAlbums,
  &__loading {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &__title {
      font-size: 50px;
      font-weight: 700;
      line-height: 1.4;
      word-break: keep-all;
    }

    &__subTitle {
      margin-top: 10px;
      font-size: 20px;
      color: gray;
      font-weight: 200;
      line-height: 1.4;
      word-break: keep-all;
    }
  }
}
