// 브라우저 css 초기화
@import '@styles/reset.scss';

// css 변수
@import '@styles/variables.scss';

// mixin
@import '@styles/mixins.scss';

body {
  overflow-x: hidden !important;
}

#root {
  width: 100%;
  height: 100%;
}
