html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
// em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
// strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
// mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

q {
  quotes: none;
}


q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}

mark {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #9c9cff;
  margin-bottom: 5px;
}

.tiptap {
  outline: none;
  line-height: 1.4;

  :first-child {
    margin-top: 0;
  }

  blockquote {
    border-left: 3px solid rgb(190, 189, 189);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }


  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;


    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5 {
    font-size: 1rem;
  }

  p.is-editor-empty:first-child::before {
    color: rgb(216, 203, 203);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .button.is-active,
  .menu-button:hover,
  .menu-button.is-active {
    background-color: #edf1f6;
    color: #242e39;
  }
}


.add-image {
  display: block;

  @include mobile {
    max-width: 100%;
    width: 80% !important;
    height: auto;
  }
}