.header {
  // background-color: orange;
  padding: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;


  &__inner {
    margin: 0 auto;
    max-width: 1280px;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    &__link {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &__icon {
      width: 50px;
      height: 50px;
      transform: rotate(-10deg);
    }

    &__text {
      font-size: 36px;
      font-weight: bold;
    }

    // h2 요소에 hover 하면 svg에 약간에 애니메이션
    &:hover {
      &__text {
        color: red;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 15px;
 

    &__item {
      // position: relative;
    }

    &__icon {
      padding: 5px;
      border-radius: 10px;
      background: #f0dada;
      fill: #757575;
    }

    &__title {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      transition: all ease 0.2s;

      &:hover {
        // padding: 5px 10px;
        // border: 1px solid;
        border-radius: 15px;
        background-color: rgb(234, 232, 232);
      }
    }

    &__list::before {
      content: "";
      display: block;
      width: 25px;
      height: 25px;
      background-color: red;
      position: absolute;
      top: -5px;
      left: 20px;
      transform: rotate(45deg);
      z-index: -1;
      background-color: rgb(243, 234, 234);
    }

    &__list {
      position: absolute;
      top: 80px;

      // list style
      // border: 1px solid;
      border-radius: 15px;
      padding: 10px 12px;
      background-color: rgb(243, 234, 234);
      // max-width: 250px;
      // width: 150px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;

      &__link {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  &__arrow {
    width: 25px;
    height: 25px;
  }
}
