.toolBar {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;

  svg {
    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;

    @include mobile {
      gap: 10px;
      flex-wrap: wrap;
    }

    & > * {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    button,
    label {
      cursor: pointer;
      border: none;
      outline: none;
      background: inherit;
      padding: 5px;

      &:hover {
        background-color: #f0f0f0;
        border-radius: 10px;
      }
    }

    &__colors {
      position: relative;

      input {
        position: absolute;
        top: 100%;
        opacity: 0;
      }
    }
  }

  &__listContainer {
    position: relative;

    &__list {
      list-style: none;
      padding: 5px;
      position: absolute;
      top: 100%;
      background: rgb(248, 245, 245);
      border-radius: 5px;
      z-index: 10;
    }
  }
}
