.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 200px;
  margin-top: 100px;

  @include mobile {
    gap: 100px;
  }

  :nth-child(2) {
    @include mobile {
      flex-direction: column;
    }
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column-reverse;
    }

    &__item {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 400px;
      position: relative;

      @include mobile {
        width: 100%;
      }
    }

    &__reverse {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;

      @include mobile {
        flex-direction: column-reverse;
      }
    }
  }

  &__logo {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    @include mobile {
      max-width: 100%;
      height: auto;
    }
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
      font-size: 36px;
      font-weight: bold;
      line-height: 1.3;
      color: #9c9cff;
      margin-bottom: 30px;

      @include mobile {
        font-size: 30px;
      }
    }

    &__desc {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.4;
      white-space: pre-line;

      @include mobile {
        font-size: 24px;
      }
    }
  }

  &__descContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    :nth-child(1) {
      font-weight: bold;
      line-height: 1.3;
      font-size: 36px;
      margin-bottom: 30px;
      color: #a7a7f6;

      @include mobile {
        font-size: 30px;
      }
    }

    &__item {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
        word-break: keep-all;
      }
    }
  }

  &__firstImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 5%;

    @include mobile {
      max-width: 150px;
      max-height: 150px;
      top: 10%;
      left: 10%;
    }
  }

  &__secondImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 15%;

    @include mobile {
      max-width: 150px;
      max-height: 150px;
      top: 10%;
      right: 10%;
    }
  }

  &__thirdImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -5%;
    left: 25%;

    @include mobile {
      max-width: 150px;
      max-height: 150px;
      bottom: 10%;
      left: 10%;
    }
  }

  &__fourthImg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -5%;
    right: -5%;

    @include mobile {
      max-width: 150px;
      max-height: 150px;
      bottom: 10%;
      right: 10%;
    }
  }

  &__reverse {
    &__firstImg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 5%;

      @include mobile {
        max-width: 150px;
        max-height: 150px;
        top: 10%;
        left: 10%;
      }
    }

    &__secondImg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      right: 15%;

      @include mobile {
        max-width: 150px;
        max-height: 150px;
        top: 10%;
        right: 10%;
      }
    }

    &__thirdImg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: -5%;
      left: 25%;

      @include mobile {
        max-width: 150px;
        max-height: 150px;
        bottom: 10%;
        left: 10%;
      }
    }

    &__fourthImg {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: -5%;
      right: -5%;

      @include mobile {
        max-width: 150px;
        max-height: 150px;
        bottom: 10%;
        right: 10%;
      }
    }
  }
}
