.class {
  &__inner {
    padding: 100px 0px;
    max-width: 1280px;
    margin: 0 auto;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    @include mobile {
      padding: 0px 15px;
    }
  }

  &__imgContainer {
    max-width: 500px;
    width: 250px;

    &__img {
      width: 100%;
      height: auto;
    }
  }

  &__descContainer {
    :nth-child(1) {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      color: #59b1ff;
      margin-bottom: 10px;

      @include mobile {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    p {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
        word-break: keep-all;
      }
    }
  }

  &__classImgContainer {
    margin-top: 100px;

    @include mobile {
      margin-top: 150px;
    }
  }

  &__activity {
    text-align: center;

    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
      }
    }

    &__subTitle {
      color: gray;
      line-height: 1.3;

      @include mobile {
        font-size: 14px;
      }
    }

    &__gridContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-top: 50px;

      @include mobile {
        padding: 0px 15px;
        grid-row-gap: 50px;
      }
    }

    &__img {
      max-width: 600px;
      width: 100%;
      height: 350px;
      overflow: hidden;
      object-fit: cover;

      @include mobile {
        max-height: 200px;
        height: 100%;
      }
    }

    &__desc {
      text-align: center;
      margin-top: 10px;

      @include mobile {
        font-size: 14px;
        word-break: keep-all;
      }
    }
  }

  &__collaboration {
    margin-top: 150px;

    &__textContainer {
      text-align: center;
    }

    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
      }
    }

    &__subTitle {
      color: gray;
      line-height: 1.3;

      @include mobile {
        font-size: 14px;
      }
    }

    &__flexContainer {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        padding: 0px 15px;
        gap: 10px;
      }
    }

    &__item {
      max-width: 350px;

      @include mobile {
        max-width: 300px;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 20px;
      border-radius: 15px;
    }

    &__desc {
      text-align: center;
      line-height: 1.3;

      @include mobile {
        font-size: 14px;
        word-break: keep-all;
      }
    }
  }

  &__story {
    margin-top: 150px;

    &__title {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;
    }

    &__subTitle {
      color: gray;
      line-height: 1.3;
    }

    &__flexContainer {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        padding: 0px 15px;
        gap: 10px;
      }
    }

    &__item {
      max-width: 350px;

      @include mobile {
        max-width: 300px;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 20px;
      border-radius: 15px;
    }

    &__desc {
      text-align: center;
      line-height: 1.3;

      @include mobile {
        font-size: 14px;
        word-break: keep-all;
      }
    }
  }

  &__storyContainer {
    text-align: center;
  }

  &__textBook {
    margin-top: 150px;

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include mobile {
        padding: 0px 15px;
      }
    }

    &__imgContainer {
      max-width: 500px;
      width: 250px;

      &__img {
        width: 100%;
        height: auto;
      }
    }

    &__firstDesc {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.4;
      color: #59b1ff;
      margin-bottom: 10px;

      @include mobile {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    &__secondDesc {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
        word-break: keep-all;
      }

      span {
        font-size: 55px;
        color: rgb(139, 139, 255);

        @include mobile {
          font-size: 36px;
        }
      }
    }
  }

  &__register {
    margin-top: 150px;

    &__flexContainer {
      max-width: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include mobile {
        flex-direction: column;
        gap: 200px;
      }
    }

    &__text {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.4;

      @include mobile {
        font-size: 24px;
      }
    }

    &__no {
      font-size: 60px;
      font-weight: 700;
      line-height: 1.4;
      color: red;

      @include mobile {
        font-size: 36px;
      }
    }

    &__item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__icon {
      width: 50px;
      height: 50px;

      @include mobile {
        width: 30px;
        height: 30px;
      }
    }

    &__btnContainer {
      margin-top: 150px;
      text-align: center;
    }

    &__btnText {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.5;

      @include mobile {
        font-size: 24px;
      }

      span {
        color: #a1a1fa;
      }
    }

    &__btn {
      margin-top: 50px;
      max-width: 250px;
      width: 70%;
      height: 60px;
      border: none;
      outline: none;
      border-radius: 15px;
      font-size: 20px;
      font-weight: 700;
      color: orange;
      cursor: pointer;

      @include mobile {
        max-width: 200px;
        width: 50%;
        font-size: 16px;
        margin-top: 100px;
      }
    }
  }
}
