// header
.listItem {
  cursor: pointer;

  @include mobile {
    width: 100%;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding: 5px;

    @include mobile {
      justify-content: space-between;
    }

    &__title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__wrapper {
    position: relative;
  }

  &__icon {
    width: 25px;
    height: 25px;
  }

  &__link {
    padding: 5px;

    @include mobile {
      display: block;
      width: 100%;
    }

    &__title {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__subList {
    position: absolute;
    top: 120%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    background: #f6f6f6;
    border: 1px solid #dddddd;

    @include mobile {
      position: static;
      border-radius: 0;
      border: none;
    }
  }

  &__subItem {
    max-width: 300px;
    width: 300px;

    @include mobile {
      width: 100%;
      max-width: 100%;
    }

    &__link {
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        .listItem__subItem__icon {
          fill: black;
          border-color: black;
        }

        .listItem__subItem__desc {
          color: black;
        }
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    &__icon {
      width: 30px;
      height: 30px;
      padding: 5px;
      border: 1px solid #e0dede;
      border-radius: 5px;
      fill: gray;
      transition: all 0.2s ease-in-out;
    }

    &__desc {
      font-size: 12px;
      color: gray;
    }
  }
}

// footer
.footerItem {
  width: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    width: 100%;
    padding-bottom: 10px;
    font-weight: 700;
    color: #a48585;
    cursor: pointer;
  }

  &__subTitle {
    width: 100%;
    padding-bottom: 10px;
    font-weight: 700;
    color: #a48585;
    cursor: pointer;
  }

  &__subList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    &__item {
      width: 100%;

      &:hover {
        text-decoration: underline;

        .footerItem__subList__title {
          color: gray;
        }
      }
    }

    &__link {
      display: block;
      padding: 5px 0px;
    }

    &__title {
      color: rgb(219, 213, 213);
      font-weight: 500;
      word-break: keep-all;
    }
  }
}
