.introduce {
  &__inner {
    padding: 100px 0px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;

    @include mobile {
      padding: 100px 15px;
    }
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;

    @include mobile {
      font-size: 24px;
      gap: 5px;
    }

    &__icon {
      width: 50px;
      height: 50px;

      @include mobile {
        width: 24px;
        height: 24px;
      }
    }

    &__desc {
      font-size: 18px;
      font-weight: normal;
      line-height: 1.3;

      @include mobile {
        font-size: 16px;
        word-break: keep-all;
        font-weight: 200;
      }
    }
  }

  &__programContainer {
    margin-top: 30px;
  }

  &__program {
    font-size: 34px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    @include mobile {
      font-size: 24px;
      gap: 5px;
    }

    &__icon {
      width: 50px;
      height: 50px;

      @include mobile {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__table {
    max-width: 100%;
    width: 100%;

    &__head {
      font-weight: bold;
      background: rgb(191, 190, 190);
    }

    &__item {
      padding: 15px;
      border: 1px solid;
      text-align: center;

      @include mobile {
        font-size: 14px;
        word-break: keep-all;
      }
    }
  }
}
