.video {
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;
    min-height: 100vh;

    @include mobile {
      padding: 50px 15px;
      min-height: auto;
    }
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.4;
    color: #16bbc5;

    @include mobile {
      font-size: 40px;
    }
  }

  &__desc {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;

    @include mobile {
      font-size: 24px;
      word-break: keep-all;
    }
  }

  &__gridContainer {
    margin-top: 50px;

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include mobile {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      padding: 20px 15px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 20px;

      @include mobile {
        gap: 10px;
      }

      p {
        font-size: 24px;
        font-weight: 500;

        @include mobile {
          font-size: 20px;
        }
      }
    }

    &__icon {
      width: 50px;
      height: 50px;
      fill: #a3a3ff;

      @include mobile {
        width: 35px;
        height: 35px;
      }
    }

    &__desc {
      font-size: 16px;
      font-weight: 300;
      margin-top: 10px;

      @include mobile {
        font-size: 14px;
        word-break: keep-all;
      }
    }
  }

  &__container {
    margin-top: 100px;
  }

  // 비디오 들어오면 삭제
  &__fake {
    width: 80%;
    height: 500px;
    background: orange;
    margin: 0 auto;
    border-radius: 15px;

    @include mobile {
      width: 100%;
      height: 250px;
    }
  }

  &__play {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      outline: none;
      width: 180px;
      height: 50px;
      border-radius: 15px;
      background: #16bbc5;
      color: white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      // &:hover {
      //   background: white;
      //   color: #a3a3ff;

      //   svg {
      //     fill: #a3a3ff;
      //   }
      // }

      @include mobile {
        font-size: 14px;
        width: 150px;
        gap: 5px;
        height: 45px;
      }
    }

    &__icon {
      width: 35px;
      height: 35px;
      fill: white;

      @include mobile {
        width: 25px;
        height: 25px;
      }
    }
  }
}
