.question {
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;

    @include mobile {
      padding: 50px 15px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;

    @include mobile {
      font-size: 24px;
      word-break: keep-all;
    }
  }

  &__accordian {
    margin-top: 20px;
  }

  &__move {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
      border: none;
      outline: none;
      width: 180px;
      height: 50px;
      border-radius: 15px;
      background: #16bbc5;
      color: white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      @include mobile {
        width: 130px;
        font-size: 14px;
      }

      &:hover {
        color: #a3a3ff;
        background: white;
      }
    }
  }
}
