.process {
  &__inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 0px;

    @include mobile {
      padding: 100px 15px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;

    @include mobile {
      font-size: 24px;
      word-break: keep-all;
    }
  }

  &__container {
    margin-top: 20px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      @include mobile {
        gap: 10px;
      }
    }

    &__arrow {
      @include mobile {
        width: 25px;
        height: 25px;
      }
    }

    &__icon {
      width: 100px;
      height: 100px;
      fill: #a3a3ff;

      @include mobile {
        width: 40px;
        height: 40px;
      }
    }

    &__desc {
      font-size: 18px;
      font-weight: 500;

      @include mobile {
        font-size: 14px;
        word-break: keep-all;
        text-align: center;
      }
    }
  }
}
